<html>
<head>
    {% load static %}
    {% include 'auth/index.html' %}
    <meta charset="utf-8">
    <title>About me</title>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'js/first.js' %}"> -->

</head>

</head>
<body>
    <div class="informations">
        <h1 class="about-me">about me</h1>
        <div class="text-about-me">
            <h2 style="font-size: 1.6pc;">
                I`m a Huy Designer and Full Stack
                <br>
                Developer from Bac Giang, Viet Nam.
            </h2>
            <br>
            I enjoy turning complex problems into simple, 
            <br>
            beautiful and intuitive interface designs. When I'm 
            <br>
            not coding or pushing pixels, you'll find me in the 
            <br>
            gym or on the court shooting hoops
        </div>
    </div>


</body>
</html>